<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="primary">
      <ion-button (click)="this.setFilter('8-bit')">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar animated></ion-searchbar>
    <ion-title>
      Peterest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--*ngIf="filter==='' || filter===img.type || filter===img.name"-->
  <ion-list *ngFor="let img of getResults()">
    <ion-card>
      <ion-card-header>
        <ion-title>{{img.type}}</ion-title>
      </ion-card-header>
      <ion-img src={{img.src}}></ion-img>
    </ion-card>
  </ion-list>
</ion-content>
